/* Par défaut (mobile) */

/* Ici, on définit le background pour les écrans inférieurs à 640px (ou jusqu'à 639px) */
.step-container {
  background-image: url("./assets/gohopebg-mobile.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain; /* Ajustez cette valeur pour le mobile */
}
.step-container-1 {
  background-image: none;
}

/* Pour les écrans de taille desktop (à partir de 640px) */
@media (min-width: 640px) {
  .step-container {
    background-image: url("./assets/bg-gohope2.png");

    background-repeat: no-repeat;
    background-size: cover; /* Ajustez cette valeur pour le desktop */
  }
  .step-container-1 {
    background-image: url("./assets/bg-gohope2.png");

    background-repeat: no-repeat;
    background-size: cover; /* Ajustez cette valeur pour le desktop */
  }
}

@font-face {
  font-family: "Halcom";
  src: url("./fonts/Halcom-Regular-BF648a71453957a.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Confiteria";
  src: url("./fonts/ConfiteriaScript-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Appliquer la police Halcom à la majorité des éléments */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
span,
a,
div,
input,
label,
li,
ul,
ol {
  font-family: "Halcom", sans-serif;
}

.font-confiteria {
  font-family: "Confiteria", cursive !important;
  font-weight: 600 !important;
}

/* Pour Firefox */
.no-scrollbar {
  scrollbar-width: none; /* Masque la scrollbar */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Pour Chrome, Safari et Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1050px) {
  .hide-above-1050 {
    display: none !important;
  }
}

@media (maw-width: 1050px) {
  .show-above-1050 {
    display: none !important;
  }
}

@layer base {
  /* Désactive la sélection pour tous les éléments */
  * {
    @apply select-none;
  }
}
@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideInUp {
  animation: slideInUp 0.5s ease-out;
}

#step1-title {
  font-size: 18px !important;
  @media (min-width: 640px) {
    font-size: 30px !important;
  }
}
